[honeypot]
# Use "shell" engine to for full deception and simplicty
backend = shell=
hostname = prod-web-server-01

[ssh]
enabled = true
listen_endpoints = tcp:2222:interface=0.0.0.0

[telnet]
enabled = false