[honeypot]
# Switch from default "shell" engine to "proxy" engine
backend = proxy

[proxy]
# Tells Cowrie to route sessions directly to a single static backend target
pool = simple
backend = simple
# This tells Cowrie where our Azure-Deployed agent-sensor is listening.
# This should point to our Azure private WireGuard VPN IP or static public IP.
backend_host = 10.0.0.2  
backend_port = 2222


# Transparent mode hides the proxy layers from the attacker entirely
backend_user = root
backend_password = root