[honeypot]
# Switch from default "shell" engine to "proxy" engine
backend = proxy

[proxy]
# This tells Cowrie where our Azure-Deployed agent-sensor is listening.
# This should point to our Azure private WireGuard VPN IP or static public IP.
backend_host = 10.0.0.2  
backend_port = 2222

# Transparent mode hides the proxy layers from the attacker entirely
pool = remote
backend_user = root
backend_password = root